@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90grad, #9b7dbc, #a0c2a7);
}

#root {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.headerLeft {
  display: flex;
  justify-content: space-between;  
  padding: 5px;
  img{
    opacity: 0.9;
  }
}
.headerInfo {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  h3 {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Monserrat", sans-serif;
  }
  p {
    margin: 0;
    text-align: center;
    font-weight: 600;
    opacity: 0.7;
    font-family: "Monserrat", sans-serif;
  }
}

.headerRight {
  width: fit-content;
  display: flex;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    span {
      padding: 5px;
      text-wrap: nowrap;
      min-width: fit-content;
      font-weight: 500;
      font-size: 1.3em;
    }
  }
}

.goods {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 225px);
  justify-content: space-around;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
}

h1 {
  padding: 10px;
  font-size: 34pt;
  font-weight: 500;
  font-family: "Pacifico", cursive;
}




.buttonGreen {
  position: relative;
  background: #9dd558;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-shadow: -5px 4px 24px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition:
    background 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &:disabled{
    cursor: default;
    background-color: #a8a8a8;
    opacity: 1;
    animation: button-loading 1s ease-in-out infinite;
    &:hover {
      opacity: 1;
      box-shadow: -5px 4px 24px rgba(0, 0, 0, 0.3);
    }
    &:active {
      transform: translateY(0px);
      box-shadow: -5px 4px 24px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
    &:hover {img {
      transform: translateX(0px);
    }}
  }
  &:hover {
    img {
      transform: translateX(5px);
    }
  }
  
  img {
    top: 15px;
    position: absolute;
    right: 50px;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out;
  }
}
.cartItemImg {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.removeBtn {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.clickAnimation {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 8px;
  transition:
    box-shadow 0.1s ease-in-out,
    opacity 0.1s ease-in-out,
    transform 0.1s ease-in-out;
  rect {
    transition: fill 0.1s ease-in-out;
  }
  &:hover {
    opacity: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: none;
    opacity: 0.6;
  }
}
.active{cursor:default; opacity: 0.9;}
@keyframes button-loading {
  0%{
opacity: 1;
  }
  50%{
opacity: 0.5;
  }
  100%{
opacity: 1;
  }
}
